.App {
  text-align: center;
  padding: 20px;
  background-color: green;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px;
}

.ButtonContainer {
  margin-top: 20px;
}

.FormContainer {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #bf01af;
  color: rgb(52, 237, 228);
}

.FormField {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color:pink;
  border-radius: 8px;
  color: yellowgreen;
}